*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}
#projects{
    height: 100px;
}

#content{
    height: 100px;
    position: relative;
    padding:15px;
}

#container{
   display: grid;
   grid-template-columns: 30% 70%;
}

.add-project-btn{
    border: 1px solid green;
    border-radius: 5px;
    background-color: transparent;
    font-size: 30px;
    margin-bottom: 10px;
    float:right;
    padding:10px;
}

.todo:hover{
    background-color: lightgrey;
}
.delete-td-btn{
    color:red;
}

.project{
    border:0.2px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    clear: both;
}

.project:hover{
    background-color: lightgrey;
}

.currProject{
    background-color: cadetblue;
}

.add-td-btn{
    width:200px;
    height:30px;
    border : none;
    border-radius: 5px;
    background-color: green;
    color:#ececec;
    margin-top:10px;    
}